{% load static %}
{% load widget_tweaks %} 

<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <title>Gestor de reservas</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/style_index.css' %}"> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'plugins/fontawesome-free/css/all.min.css' %} ">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/png"> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'plugins/daterangepicker/daterangepicker.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css' %}">


</head>


<body>
    <header>
        <div class="nav">
            <input type="checkbox" id="nav-check">
            <div class="nav-header">
              <div class="nav-title">
                <img src="{% static 'img/logo-buho.png' %}" alt="" class="img-vacio">
              </div>
            </div>
            <div class="nav-btn">
              <label for="nav-check">
                <span></span>
                <span></span>
                <span></span>
              </label>
            </div>
            
            <div class="nav-links">
              <a href="#" target="_blank">Reserva tu espacio</a>
              <!-- <a href="#" target="_blank">Mis reservas</a> -->

            </div>
          </div>

    </header>


    <section class="content">


        <div class="get-in-touch">
            <h1 class="title">RESERVA TU ESPACIO </h1>
         
            <form class="contact-form row" method="POST"> {% csrf_token %}
              <div class="form-field col-lg-12">
                {{ form.correo }}
                  <label class="label" for="name">Correo</label>
              </div>
              <div class="form-field col-lg-12 ">
                {{ form.nombre }}
                <label class="label" for="email">Nombre</label>
              </div>
    
              <div class="form-field col-lg-12 ">
                {{ form.area }}
                <label class="label" for="company">Área</label>
              </div>
                
    
              <div class="form-field col-lg-12 ">
                <div class="input-group date" id="date_picker" data-target-input="nearest">
                  {% render_field form.fecha_reserva  %}
                  <div class="input-group-append" data-target="#date_picker" data-toggle="datetimepicker">
                    <div class="input-group-text">   <i class="far fa-calendar-alt"></i></div>
                  </div>
                  
                </div>
                <label class="label" for="company">Fecha</label>
              </div>
    
            
                
              <div class="form-field col-lg-12">
                <button onclick="open_modal('{% url 'lista' %}')" class="btn space-btn" type="button">
								 Ver disponibilidad </button>

                <button class="btn submit-btn" type="submit">Reservar espacio</button>
              </div>

              <p class="text-center mb-4 mt-2 mensaje">Recuerda que si asistes a la oficina sin reservación  
                en una fecha diferente a la programada para tu equipo, es probable que no encuentres un puesto, 
                sin embargo <strong> tendremos disponibles nuestras áreas comunes para ti!</strong></p>
            </form>
        </div>
   

    </section>

    <div class="modal fade" id="ModalLista" role="dialog"></div>

  </body>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<!-- InputMask Fija los campos de la fecha dd/mm/yyyy -->
<script src="{% static 'plugins/moment/moment.min.js'%}"></script>
<script src="{% static 'plugins/inputmask/min/jquery.inputmask.bundle.min.js'%}"></script>
<!-- Tempusdominus Bootstrap 4 activa el TimePicker-->
<script src="{% static 'plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js' %}"></script>

<!-- Bootstrap Switch -->
<script type="text/javascript">
      //Datemask dd/mm/yyyy
    $('#datemask').inputmask('yyyy-mm-dd', { 'placeholder': 'yyyy-mm-dd' })
    //Money Euro
    $('[data-mask]').inputmask()
      //Datepicker
      $('#date_picker').datetimepicker({
        format: 'YYYY-MM-DD'
      })
</script>

<script>
  function open_modal(url) {
    $('#ModalLista').load(url, function() {

        $(this).modal('show');
    });
}

</script>


  {% if messages %}
  {% for message in messages %}
    <script>
        swal.fire(
            {% if 'God Job' in message.extra_tags %}
                "Bien hecho", //God Job
                "{{message}}", //el Proyecto fue creado con éxito
                "success" // icon
                
            {% elif 'Error' in message.extra_tags %}
                "¡Opps!",
                "{{message}}",
                "error"
                
            {% else %}
                {
                    text: "{{message}}",
                    icon: "{{message.tags}}",
                }
            {% endif %}
            )
    </script>
  {% endfor %}
{% endif %}



</html>