{% load static%}
<body>

    <link rel="stylesheet" href="{% static 'plugins/datatables-bs4/css/dataTables.bootstrap4.css' %}">

<div class="modal-dialog  modal-dialog-centered" role="document">
    <div class="modal-content">

        <div class="modal-header"><br>

        </div>

        <div class="modal-body">
           <div class="row">
            <div class="container">
         

             </div>
          </div>
      </div>
  </div>
</div>

</body>


<script src="{% static 'plugins/datatables/jquery.dataTables.js' %}"></script>
<script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.js' %}"></script>